<?xml version="1.0" encoding="utf-8"?>
<manifest android:sharedUserId="android.uid.system" android:versionCode="1" android:versionName="1.0" android:compileSdkVersion="28" android:compileSdkVersionCodename="9" package="com.quicinc.cne.CNEService" platformBuildVersionCode="28" platformBuildVersionName="9"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="broadcast.cne.permission" />
    <uses-permission android:name="android.permission.PACKET_KEEPALIVE_OFFLOAD" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <permission android:name="broadcast.cne.permission" android:protectionLevel="signature" />
    <application android:name="CNEServiceApp" android:persistent="true" android:defaultToDeviceProtectedStorage="true" android:directBootAware="true" />
</manifest>